.fileView {
    width: 100%;
}

.fv_row{
    height: 250px;
    display: flex;
    align-items: center;
}

.fv_title{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
    font-weight: 500;
}

.fv_title>div>*{
    margin: 5px;
}

.fv_title_left{
    flex: 1;
}

.fv_title_right{
    display: flex;
    padding-right: 10px;
}

.fv_title_right>p{
    margin-right: 20px;
}